In [1]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/site-packages (0.23.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/site-packages (from pandas) (1.14.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [2]:
import pandas as pd

In [3]:
import urllib.request
from urllib.request import urlopen

In [4]:
from requests.exceptions import HTTPError

In [5]:
from tqdm import tnrange, tqdm_notebook

In [6]:
movie = pd.read_csv("MovieGenre.csv", encoding='latin-1')

In [7]:
movie.head()

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [8]:
movie.loc[movie['Title'] == 'Naked Gun 33 1/3: The Final Insult (1994)']

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
366,110622,http://www.imdb.com/title/tt110622,Naked Gun 33 1/3: The Final Insult (1994),6.4,Comedy|Crime,https://images-na.ssl-images-amazon.com/images...

In [9]:
slash_movie_title = []
for i in range(len(movie.Title)):
    if '/' in movie.Title[i]:
        slash_movie_title.append(movie.Title[i])
slash_movie_title

['Naked Gun 33 1/3: The Final Insult (1994)',
 'Venice/Venice (1992)',
 'JLG/JLG - autoportrait de dí©cembre (1994)',
 'Face/Off (1997)',
 'Beloved/Friend (1999)',
 'Smoking/No Smoking (1993)',
 'F/X (1986)',
 'F/X2 (1991)',
 'Crazy/Beautiful (2001)',
 'Marat/Sade (1967)',
 'XX/XY (2002)',
 'Bollywood/Hollywood (2002)',
 'Fahrenheit 9/11 (2004)',
 'The Lion King 1 1/2 (2004)',
 'Hijacking Catastrophe: 9/11, Fear & the Selling of American Empire (2004)',
 'Fahrenhype 9/11 (2004)',
 '9/11 (2002)',
 'A/k/a Tommy Chong (2006)',
 'A/k/a Tommy Chong (2006)',
 'White Light/Black Rain: The Destruction of Hiroshima and Nagasaki (2007)',
 'CSNY/DÌ©jÌÊ Vu (2008)',
 'Frost/Nixon (2008)',
 'Trop tÌ«t/Trop tard (1982)',
 'Drama/Mex (2006)',
 'The Bugs Bunny/Road-Runner Movie (1979)',
 '06/05 (2004)',
 'Superman/Batman: Apocalypse (2010)',
 'Loose Change 9/11: An American Coup (2009)',
 'Win/Win (2010)',
 '50/50 (2011)',
 'The Harvest/La Cosecha (2011)',
 '99 and 44/100% Dead (1974)',
 'Superman/Doomsday (2007)',
 'Superman/Batman: Public Enemies (2009)',
 'V/H/S (2012)',
 'Drei Zimmer/KÌ_che/Bad (2012)',
 'Role/Play (2010)',
 'V/H/S/2 (2013)',
 'Moi CÌ©sar, 10 ans 1/2, 1m39 (2003)',
 'Pretty/Handsome (2008)',
 'Night Gallery (The Cemetery/Eyes/The Escape Route)',
 '13/13/13 (2013)',
 'Free Range/Ballaad maailma heakskiitmisest (2013)',
 'V/H/S Viral (2014)',
 '1 1/2 Ritter - Auf der Suche nach der hinreiÌÙenden Herzelinde (2008)',
 'Isi/Disi - Amor a lo bestia (2004)',
 'Fifty/Fifty (1992)',
 'Intikam Melegi/Kadin Hamlet (1976)',
 'Ch/B (2014)',
 'Vazhakku Enn 18/9 (2012)',
 'Self/less (2015)',
 'X/Y (2014)',
 'Filmage: The Story of Descendents/All (2013)',
 '7/G Rainbow Colony (2004)',
 '08/15 (1954)',
 '9/11: The Falling Man (2006)',
 'Hitchcock/Truffaut (2015)',
 'Celestial Subway Lines/Salvaging Noise (2005)',
 'Recto/Verso (1999)',
 '.hack//Liminality Vol. 1: In the Case of Mai Minase (2002)',
 'Little Forest: Winter/Spring (2015)',
 'Matthesen/Hartmann: Bytte bytte kÌübmand (2010)',
 '11/11/11 (2011)',
 'AC/DC: Let There Be Rock (1980)',
 'Figli/Hijos (2001)',
 'Dream/Killer (2015)']

In [10]:
df = movie[~movie.Title.isin(slash_movie_title)]

In [11]:
movie = df

In [12]:
movie = movie.dropna()

In [13]:
movie = movie.reset_index(drop=True)

In [14]:
%%capture
a = "/Users/michael/Documents/UCSB_2017-2018/PSTAT 134/134MHCP/" + movie.Title[0] + ".jpg"
b = movie.Poster[0]
urllib.request.urlretrieve(b,a)

In [15]:
bad_links = []

for i in tnrange(len(movie.Poster)):
    a = "/Users/michael/Documents/UCSB_2017-2018/PSTAT 134/134MHCP/Images/" + movie.Title[i] + ".jpg"
    b = movie.Poster[i]
    try:
        pg = urlopen(b)
    except:
        pg = False
        bad_links.append(movie.Title[i])
    if(pg!= False):
        urllib.request.urlretrieve(b,a)

HBox(children=(IntProgress(value=0, max=39180), HTML(value='')))