In [2]:
import pandas as pd
import numpy as np
import re
import sklearn
from sklearn import cluster
import matplotlib.pyplot as plt
import seaborn as sb
import matplotlib as g
from sklearn.preprocessing import OneHotEncoder
import random

In [10]:
# Reading the Data

In [11]:
movie2 = pd.read_csv("/Users/michael/Documents/UCSB_2017-2018/PSTAT 134/134MHCP/cleaned_movies.csv", encoding='utf-8')
movie2.head()

,Unnamed: 0,Title,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,#1 Cheerleader Camp (2010),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,#Horror (2015),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,#Pellichoopulu (2016),0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
movie = pd.read_pickle('/Users/michael/Documents/UCSB_2017-2018/PSTAT 134/134MHCP/cleaned_movie_set.pkl')

In [5]:
movie.head()

,Title,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,#1 Cheerleader Camp (2010),0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,#Horror (2015),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,#Pellichoopulu (2016),0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Calculating Genre Correlations

In [12]:
df = movie
c = df.corr().abs()
s = c.unstack()
so = s.sort_values(ascending=False, kind="quicksort")
genre_corr = so[28::2]
genre_corr[0:28]

Unnamed: 0   Unnamed: 0     1.000000
Documentary  Drama          0.274506
Animation    Short          0.260361
Action       Adventure      0.246525
Drama        Comedy         0.228739
Horror       Drama          0.223028
Adventure    Animation      0.215504
Comedy       Thriller       0.214372
Animation    Family         0.209395
Film-Noir    Crime          0.186115
Horror       Thriller       0.184386
Sci-Fi       Horror         0.172706
Biography    Documentary    0.171134
             History        0.169102
Animation    Drama          0.162567
Mystery      Thriller       0.160600
Comedy       Documentary    0.160102
Crime        Action         0.157357
Sci-Fi       Drama          0.149632
Drama        Adventure      0.148040
Adventure    Family         0.147692
Mystery      Horror         0.144292
News         Documentary    0.140732
Music        Documentary    0.135527
Romance      Documentary    0.132402
             Comedy         0.129779
Drama        Romance        0.128822
Action       Sci-Fi         0.128365
dtype: float64

In [13]:
counts = [] #getting the counts per genre
genres = df.columns[2::]
for i in genres:
    counts.append(df[i].value_counts().to_dict())

In [15]:
#creating counts table
counts_df = pd.DataFrame.from_dict(counts)

counts_df[2] = genres

counts_table = counts_df.drop([0], axis=1)

counts_table = counts_table.rename(columns = {1:'counts', 2:'genre'})
counts_sort = counts_table.sort_values('counts', ascending=False)

#creating column of cumulative sums
sumcol = counts_sort['counts'].sum()
cumsum = counts_sort['counts']/sumcol
counts_sort['cumsum'] = cumsum
counts_sort

    counts        genre    cumsum
8    18168        Drama  0.231063
5    11490       Comedy  0.146131
20    5694      Romance  0.072417
0     4961       Action  0.063095
6     4854        Crime  0.061734
25    4487     Thriller  0.057066
14    3770       Horror  0.047947
2     3518    Adventure  0.044742
7     3343  Documentary  0.042517
17    2223      Mystery  0.028272
9     1937       Family  0.024635
21    1890       Sci-Fi  0.024037
10    1864      Fantasy  0.023707
4     1839    Biography  0.023389
3     1510    Animation  0.019204
13    1298      History  0.016508
15    1183        Music  0.015046
26    1064          War  0.013532
22     841        Short  0.010696
27     792      Western  0.010073
16     777      Musical  0.009882
23     653        Sport  0.008305
11     380    Film-Noir  0.004833
18      75         News  0.000954
1        8        Adult  0.000102
24       6    Talk-Show  0.000076
19       2   Reality-TV  0.000025
12       1    Game-Show  0.000013

# acquiring all column labels we decided we dont want

In [16]:
garb = counts_sort['genre'].where(counts_sort['cumsum']<.04).tolist()
garb = garb[9::]
garb

['Mystery',
 'Family',
 'Sci-Fi',
 'Fantasy',
 'Biography',
 'Animation',
 'History',
 'Music',
 'War',
 'Short',
 'Western',
 'Musical',
 'Sport',
 'Film-Noir',
 'News',
 'Adult',
 'Talk-Show',
 'Reality-TV',
 'Game-Show']

In [30]:
clean_df = df #clean dataset without garbage labels
clean_df = clean_df.drop(garb, axis=1) #removing the unwanted genres from our dataset
clean_df = clean_df.drop(clean_df.columns[0], axis=1)
clean_df.head()

,Title,Action,Adventure,Comedy,Crime,Documentary,Drama,Horror,Romance,Thriller
0,#1 Cheerleader Camp (2010),0,0,1,0,0,0,0,0,0
1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,1,1,0,0,0
2,#Horror (2015),0,0,0,0,0,1,1,0,0
3,#Pellichoopulu (2016),0,0,1,0,0,1,0,1,0
4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0,0,0

In [18]:
#New Correlations after removing excess labels
c = clean_df.corr().abs()
s = c.unstack()
so = s.sort_values(ascending=False, kind="quicksort")
genre_corr = so[9::2]
genre_corr[0:12]

Documentary  Drama          0.274506
Action       Adventure      0.246525
Comedy       Drama          0.228739
Drama        Horror         0.223028
Thriller     Comedy         0.214372
             Horror         0.184386
Comedy       Documentary    0.160102
Action       Crime          0.157357
Drama        Adventure      0.148040
Romance      Documentary    0.132402
Comedy       Romance        0.129779
Drama        Romance        0.128822
dtype: float64

In [19]:
#combining adventure and action
Action_Adventure=[]
for i in range(0, len(clean_df), 1):
    if (clean_df['Action'][i]==1 or clean_df['Adventure'][i]==1):
        Action_Adventure.append(1)
    else:
        Action_Adventure.append(0)
        
#combining Drama and Documentary
Drama_Documentary=[]
for i in range(0, len(clean_df), 1):
    if (clean_df['Drama'][i]==1 or clean_df['Documentary'][i]==1):
        Drama_Documentary.append(1)
    else:
        Drama_Documentary.append(0)

In [20]:
no_titles = clean_df.drop(["Title"], axis=1) #final_df without the Title columns (final "raw" dataset before undersampling)
clean_df["Action/Adventure"] = Action_Adventure
clean_df["Drama/Documentary"] = Drama_Documentary
final_df = clean_df.drop(['Action', 'Adventure', 'Documentary', 'Drama'], axis=1)
final_df

,Title,Comedy,Crime,Horror,Romance,Thriller,Action/Adventure,Drama/Documentary
0,#1 Cheerleader Camp (2010),1,0,0,0,0,0,0
1,#chicagoGirl: The Social Network Takes on a Di...,0,0,0,0,0,1,1
2,#Horror (2015),0,0,1,0,0,0,1
3,#Pellichoopulu (2016),1,0,0,1,0,0,1
4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0
5,"$100,000 for Ringo (1965)",0,0,0,0,0,0,1
6,$5 a Day (2008),1,0,0,0,0,0,1
7,$50K and a Call Girl: A Love Story (2014),1,0,0,0,0,1,0
8,$9.99 (2008),0,0,0,0,0,0,1
9,$ellebrity (2012),0,0,0,0,0,0,1
10,'71 (2014),0,0,0,0,1,1,1
11,'D' (2005),0,1,0,0,1,0,1
12,'Doc' (1971),0,0,0,0,0,0,0
13,'Fun on a Week-End' (1947),1,0,0,0,0,0,0
14,'G' Men (1935),0,1,0,0,0,0,1
15,'Gung Ho!': The Story of Carlson's Makin Islan...,0,0,0,0,0,0,1
16,'Hellboy': The Seeds of Creation (2004),0,0,0,0,0,0,1
17,'I Know Where I'm Going!' (1945),0,0,0,1,0,0,1
18,'Master Harold'... and the Boys (1985),0,0,0,0,0,0,1
19,'n Beetje Verliefd (2006),1,0,0,1,0,0,0
20,'Neath the Arizona Skies (1934),0,0,0,0,0,0,0
21,"'night, Mother (1986)",0,0,0,0,0,0,1
22,'Pimpernel' Smith (1941),0,0,0,0,1,1,1
23,'R Xmas (2001),0,1,0,0,0,0,1
24,'Round Midnight (1986),0,0,0,0,0,0,1
25,"'Sheba, Baby' (1975)",0,1,0,0,0,1,1
26,'Til There Was You (1997),1,0,0,1,0,0,0
27,'Tis the Season for Love (2015),1,0,0,1,0,0,0
28,'Twas the Night (2001),1,0,0,0,0,0,0
29,'Twas the Night Before Christmas (1974),0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
36087,Zoot Suit (1981),0,0,0,0,0,0,1
36088,Zootopia (2016),1,0,0,0,0,1,0
36089,"Zoran, il mio nipote scemo (2013)",1,0,0,0,0,0,0
36090,Zorba the Greek (1964),1,0,0,0,0,0,1
36091,Zorns Lemma (1970),0,0,0,0,0,0,1
36092,Zorro (1975),1,0,0,0,0,1,0
36093,Zorro: The Gay Blade (1981),1,0,0,0,0,1,0
36094,Zot van A. (2010),1,0,0,1,0,0,0
36095,Zotz! (1962),1,0,0,0,0,0,0
36096,Zouzou (1934),0,1,0,1,0,0,0
36097,Zozo (2005),0,0,0,0,0,0,1
36098,Ztraceni v Mnichove (2015),1,0,0,0,0,0,1
36099,Zu: Warriors from the Magic Mountain (1983),0,0,0,0,0,1,0
36100,Zuckerbaby (1985),1,0,0,0,0,0,0
36101,Zui hao de shi guang (2005),0,0,0,1,0,0,1
36102,Zulu (1964),0,0,0,0,0,0,1
36103,Zulu (2013),0,1,0,0,1,0,1
36104,Zulu Dawn (1979),0,0,0,0,0,1,1
36105,Zuotian (2001),0,0,0,0,0,0,1
36106,Zurich (2015),0,0,0,0,0,0,1
36107,Zus & zo (2001),1,0,0,1,0,0,0
36108,Zuzu Angel (2006),0,0,0,0,0,0,1
36109,Zvezda (2014),1,0,0,0,0,0,1
36110,Zvezda plenitelnogo schastya (1975),0,0,0,1,0,0,1
36111,Zvizdan (2015),0,0,0,1,0,0,1
36112,Zwei Leben (2012),0,0,0,0,1,0,1
36113,Zwischen Welten (2014),0,0,0,0,0,0,1
36114,Zycie jako smiertelna choroba przenoszona drog...,0,0,0,0,0,0,1
36115,Zywot Mateusza (1968),0,0,0,0,0,0,1
36116,Zyzzyx Rd (2006),0,0,0,0,1,0,0

In [22]:
#this cell acquires the new cumulative sums after we merging some labels
clean_counts = []
clean_genre = no_titles.columns.tolist()
#clean_genre = final_df.columns.tolist()
for i in clean_genre:
    clean_counts.append(clean_df[i].value_counts().to_dict())
    
c_counts_df = pd.DataFrame.from_dict(clean_counts)
c_counts_df

c_counts_df[2] = clean_genre
c_counts_df
c_counts_table = c_counts_df.drop([0], axis=1)

c_counts_table = c_counts_table.rename(columns = {1:'counts', 2:'genre'})
c_counts_sort = c_counts_table.sort_values('counts', ascending=False)

c_sumcol = c_counts_sort['counts'].sum()
c_cumsum = c_counts_sort['counts']/c_sumcol
c_counts_sort['cumsum'] = c_cumsum
c_counts_sort

   counts        genre    cumsum
5   18168        Drama  0.301368
2   11490       Comedy  0.190595
7    5694      Romance  0.094451
0    4961       Action  0.082292
3    4854        Crime  0.080518
8    4487     Thriller  0.074430
6    3770       Horror  0.062536
1    3518    Adventure  0.058356
4    3343  Documentary  0.055453

# Downsampling!

In [24]:
sampled = final_df #duplicate our dataset to work with
sampled['sample']=0 #append a column of zeros

In [25]:
#randomly select 4000 observations from each genre without replacment
random.seed(1)
for i in clean_genre:
    i = np.random.choice(no_titles.where(no_titles[i]==1).index, size=4000, replace=False)
    sampled['sample'][i]=1 #changing the sample value to 1 means we will 'select' this observation
sampled

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Title,Comedy,Crime,Horror,Romance,Thriller,Action/Adventure,Drama/Documentary,sample
0,#1 Cheerleader Camp (2010),1,0,0,0,0,0,0,1
1,#chicagoGirl: The Social Network Takes on a Di...,0,0,0,0,0,1,1,1
2,#Horror (2015),0,0,1,0,0,0,1,1
3,#Pellichoopulu (2016),1,0,0,1,0,0,1,1
4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0,1
5,"$100,000 for Ringo (1965)",0,0,0,0,0,0,1,1
6,$5 a Day (2008),1,0,0,0,0,0,1,1
7,$50K and a Call Girl: A Love Story (2014),1,0,0,0,0,1,0,1
8,$9.99 (2008),0,0,0,0,0,0,1,0
9,$ellebrity (2012),0,0,0,0,0,0,1,0
10,'71 (2014),0,0,0,0,1,1,1,1
11,'D' (2005),0,1,0,0,1,0,1,0
12,'Doc' (1971),0,0,0,0,0,0,0,1
13,'Fun on a Week-End' (1947),1,0,0,0,0,0,0,1
14,'G' Men (1935),0,1,0,0,0,0,1,1
15,'Gung Ho!': The Story of Carlson's Makin Islan...,0,0,0,0,0,0,1,0
16,'Hellboy': The Seeds of Creation (2004),0,0,0,0,0,0,1,1
17,'I Know Where I'm Going!' (1945),0,0,0,1,0,0,1,1
18,'Master Harold'... and the Boys (1985),0,0,0,0,0,0,1,0
19,'n Beetje Verliefd (2006),1,0,0,1,0,0,0,1
20,'Neath the Arizona Skies (1934),0,0,0,0,0,0,0,1
21,"'night, Mother (1986)",0,0,0,0,0,0,1,1
22,'Pimpernel' Smith (1941),0,0,0,0,1,1,1,1
23,'R Xmas (2001),0,1,0,0,0,0,1,0
24,'Round Midnight (1986),0,0,0,0,0,0,1,1
25,"'Sheba, Baby' (1975)",0,1,0,0,0,1,1,0
26,'Til There Was You (1997),1,0,0,1,0,0,0,0
27,'Tis the Season for Love (2015),1,0,0,1,0,0,0,0
28,'Twas the Night (2001),1,0,0,0,0,0,0,0
29,'Twas the Night Before Christmas (1974),0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
36087,Zoot Suit (1981),0,0,0,0,0,0,1,1
36088,Zootopia (2016),1,0,0,0,0,1,0,1
36089,"Zoran, il mio nipote scemo (2013)",1,0,0,0,0,0,0,0
36090,Zorba the Greek (1964),1,0,0,0,0,0,1,1
36091,Zorns Lemma (1970),0,0,0,0,0,0,1,0
36092,Zorro (1975),1,0,0,0,0,1,0,1
36093,Zorro: The Gay Blade (1981),1,0,0,0,0,1,0,0
36094,Zot van A. (2010),1,0,0,1,0,0,0,1
36095,Zotz! (1962),1,0,0,0,0,0,0,0
36096,Zouzou (1934),0,1,0,1,0,0,0,0
36097,Zozo (2005),0,0,0,0,0,0,1,1
36098,Ztraceni v Mnichove (2015),1,0,0,0,0,0,1,0
36099,Zu: Warriors from the Magic Mountain (1983),0,0,0,0,0,1,0,1
36100,Zuckerbaby (1985),1,0,0,0,0,0,0,0
36101,Zui hao de shi guang (2005),0,0,0,1,0,0,1,1
36102,Zulu (1964),0,0,0,0,0,0,1,1
36103,Zulu (2013),0,1,0,0,1,0,1,1
36104,Zulu Dawn (1979),0,0,0,0,0,1,1,1
36105,Zuotian (2001),0,0,0,0,0,0,1,0
36106,Zurich (2015),0,0,0,0,0,0,1,1
36107,Zus & zo (2001),1,0,0,1,0,0,0,0
36108,Zuzu Angel (2006),0,0,0,0,0,0,1,0
36109,Zvezda (2014),1,0,0,0,0,0,1,1
36110,Zvezda plenitelnogo schastya (1975),0,0,0,1,0,0,1,1
36111,Zvizdan (2015),0,0,0,1,0,0,1,1
36112,Zwei Leben (2012),0,0,0,0,1,0,1,0
36113,Zwischen Welten (2014),0,0,0,0,0,0,1,0
36114,Zycie jako smiertelna choroba przenoszona drog...,0,0,0,0,0,0,1,1
36115,Zywot Mateusza (1968),0,0,0,0,0,0,1,1
36116,Zyzzyx Rd (2006),0,0,0,0,1,0,0,0

In [26]:
undersampled = sampled.loc[sampled['sample']==1] #only keep observations where sample=1
undersampled = undersampled.drop(['sample'], axis=1) #delete sample column, since they will all be 1
undersampled

,Title,Comedy,Crime,Horror,Romance,Thriller,Action/Adventure,Drama/Documentary
0,#1 Cheerleader Camp (2010),1,0,0,0,0,0,0
1,#chicagoGirl: The Social Network Takes on a Di...,0,0,0,0,0,1,1
2,#Horror (2015),0,0,1,0,0,0,1
3,#Pellichoopulu (2016),1,0,0,1,0,0,1
4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0
5,"$100,000 for Ringo (1965)",0,0,0,0,0,0,1
6,$5 a Day (2008),1,0,0,0,0,0,1
7,$50K and a Call Girl: A Love Story (2014),1,0,0,0,0,1,0
10,'71 (2014),0,0,0,0,1,1,1
12,'Doc' (1971),0,0,0,0,0,0,0
13,'Fun on a Week-End' (1947),1,0,0,0,0,0,0
14,'G' Men (1935),0,1,0,0,0,0,1
16,'Hellboy': The Seeds of Creation (2004),0,0,0,0,0,0,1
17,'I Know Where I'm Going!' (1945),0,0,0,1,0,0,1
19,'n Beetje Verliefd (2006),1,0,0,1,0,0,0
20,'Neath the Arizona Skies (1934),0,0,0,0,0,0,0
21,"'night, Mother (1986)",0,0,0,0,0,0,1
22,'Pimpernel' Smith (1941),0,0,0,0,1,1,1
24,'Round Midnight (1986),0,0,0,0,0,0,1
31,(500) Days of Summer (2009),1,0,0,1,0,0,1
33,(Dis)Honesty: The Truth About Lies (2015),0,0,0,0,0,0,1
34,(T)ERROR (2015),0,0,0,0,0,0,1
35,(Untitled) (2009),1,0,0,0,0,0,1
39,...All the Marbles (1981),1,0,0,0,0,0,1
40,...And God Created Woman (1956),0,0,0,1,0,0,1
45,...tick... tick... tick... (1970),0,0,0,0,0,1,1
46,.45 (2006),0,1,0,0,1,0,1
47,00 Schneider - Jagd auf Nihil Baxter (1994),1,0,0,0,0,0,0
49,009 Re: Cyborg (2012),0,0,0,0,0,1,0
50,009-1: The End of the Beginning (2013),0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...
36068,Zombies of the Stratosphere (1952),0,0,0,0,0,1,0
36070,Zombieworld (2015),1,0,1,0,0,0,0
36071,Zona sur (2009),0,0,0,0,0,0,1
36072,Zona Zamfirova (2002),1,0,0,0,0,0,1
36073,Zonbi asu (2011),1,0,1,0,0,0,0
36074,Zone 39 (1996),0,0,0,0,0,0,0
36077,Zone Troopers (1985),0,0,0,0,0,1,0
36079,Zoo (2007),0,0,0,0,0,0,1
36080,Zoo in Budapest (1933),0,0,0,1,0,0,1
36081,Zookeeper (2011),1,0,0,1,0,0,0
36082,Zoolander (2001),1,0,0,0,0,0,0
36083,Zoolander 2 (2016),1,0,0,0,0,0,0
36085,Zoom (2015),1,0,0,0,0,0,1
36087,Zoot Suit (1981),0,0,0,0,0,0,1
36088,Zootopia (2016),1,0,0,0,0,1,0
36090,Zorba the Greek (1964),1,0,0,0,0,0,1
36092,Zorro (1975),1,0,0,0,0,1,0
36094,Zot van A. (2010),1,0,0,1,0,0,0
36097,Zozo (2005),0,0,0,0,0,0,1
36099,Zu: Warriors from the Magic Mountain (1983),0,0,0,0,0,1,0
36101,Zui hao de shi guang (2005),0,0,0,1,0,0,1
36102,Zulu (1964),0,0,0,0,0,0,1
36103,Zulu (2013),0,1,0,0,1,0,1
36104,Zulu Dawn (1979),0,0,0,0,0,1,1
36106,Zurich (2015),0,0,0,0,0,0,1
36109,Zvezda (2014),1,0,0,0,0,0,1
36110,Zvezda plenitelnogo schastya (1975),0,0,0,1,0,0,1
36111,Zvizdan (2015),0,0,0,1,0,0,1
36114,Zycie jako smiertelna choroba przenoszona drog...,0,0,0,0,0,0,1
36115,Zywot Mateusza (1968),0,0,0,0,0,0,1

In [27]:
undersampled.to_pickle('Undersampled Dataset')

In [42]:
####################################################################################
##  if we only want to use the top 6 genres without grouping, use this dataframe  ##
####################################################################################
sixgenres = clean_df.drop(['Adventure', 'Documentary', 'Drama'], axis=1)
sixgenres['sample']=0
#randomly select 4000 observations from each genre without replacment
# random.seed(1)
# for i in sixgenres.columns[1::]:
#     i = np.random.choice(sixgenres.where(sixgenres[i]==1).index, size=4000, replace=False)
#     sixgenres['sample'][i]=1 #changing the sample value to 1 means we will 'select' this observation
# sixgenres = sixgenres.loc[sixgenres['sample']==1] #only keep observations where sample=1
# sixgenres = sixgenres.drop(['sample'], axis=1) #delete sample column, since they will all be 1
sixgenres.head()

,Title,Action,Comedy,Crime,Horror,Romance,Thriller,sample
0,#1 Cheerleader Camp (2010),0,1,0,0,0,0,0
1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,0,0,0
2,#Horror (2015),0,0,0,1,0,0,0
3,#Pellichoopulu (2016),0,1,0,0,1,0,0
4,"$1,000 on the Black (1966)",0,0,0,0,0,0,0

In [45]:
col_list = ['Action','Comedy','Crime','Horror','Romance','Thriller']

In [46]:
sixgenres['Empty'] = sixgenres[col_list].sum(axis = 1)

In [48]:
df = sixgenres[sixgenres.Empty != 0]

In [52]:
df.head()

,Title,Action,Comedy,Crime,Horror,Romance,Thriller,sample,Empty
0,#1 Cheerleader Camp (2010),0,1,0,0,0,0,0,1
1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,0,0,0,1
2,#Horror (2015),0,0,0,1,0,0,0,1
3,#Pellichoopulu (2016),0,1,0,0,1,0,0,2
6,$5 a Day (2008),0,1,0,0,0,0,0,1

In [55]:
for i in df.columns[1:]:
    print(i)
    print(df[i].sum())

Action
4961
Comedy
11490
Crime
4854
Horror
3770
Romance
5694
Thriller
4487
sample
0
Empty
35256

In [56]:
comedy = df[df['Comedy'] == 1]

In [62]:
np.random.seed = 1
b = np.random.choice(comedy.Title,size = 4000, replace = False)

In [69]:
df2 = comedy[comedy['Title'].isin(b)]

In [70]:
df2.head()

,Title,Action,Comedy,Crime,Horror,Romance,Thriller,sample,Empty
31,(500) Days of Summer (2009),0,1,0,0,1,0,0,2
36,*batteries not included (1987),0,1,0,0,0,0,0,1
67,10 Rules for Sleeping Around (2013),0,1,0,0,1,0,0,2
68,10 Things I Hate About You (1999),0,1,0,0,1,0,0,2
70,10 Years (2011),0,1,0,0,1,0,0,2

In [76]:
df2.Title

31                             (500) Days of Summer (2009)
36                          *batteries not included (1987)
67                     10 Rules for Sleeping Around (2013)
68                       10 Things I Hate About You (1999)
70                                         10 Years (2011)
79                                        10.000 Km (2014)
82                                 100 Bloody Acres (2012)
88                        100 gramm dlya khrabrosti (1977)
92                                100 Years of Evil (2010)
95                                        100% Love (2011)
100                                  101 Dalmatians (1961)
102                                  102 Dalmatians (2000)
125                                     12 in a Box (2007)
131                                      12 Storeys (1997)
135                                           12:01 (1993)
158                                  14 Going on 30 (1988)
169                                         16-Love (2012)
176                                      18 comidas (2010)
184                                            1941 (1979)
190                                            1981 (2009)
198                             2 automnes 3 hivers (2013)
205                                          2 Guns (2013)
213                                        20 Dates (1998)
245                                       21 & Over (2013)
249                                  21 Jump Street (2012)
255                                  22 Jump Street (2014)
263                            24 Hour Party People (2002)
279                                         2gether (2000)
292                                      3 Geezers! (2013)
295                    3 hati dua dunia, satu cinta (2010)
                               ...
35858                                Young Einstein (1988)
35859                            Young Frankenstein (1974)
35884                               Youth in Revolt (2009)
35886                                          Yoyo (1965)
35890                 Yu pu tuan: Tou qing bao jian (1991)
35911                                Za jia xiao zi (1979)
35916    Zach Galifianakis: Live at the Purple Onion (2...
35917                                     Zachariah (1971)
35934                                     Zapatlela (1993)
35936                                        Zapped (2014)
35938                                       Zapped! (1982)
35943                    Zathura: A Space Adventure (2005)
35961                                         Zavet (2007)
35969                                      Zeisters (1986)
35975                                         Zelig (1983)
35979                                      Zen Noir (2004)
35985                                     Zenon: Z3 (2004)
36011                              Zheng hun qi shi (1998)
36039                                Zivot je truba (2015)
36048    Zombadings 1: Patayin sa shokot si Remington (...
36057                        Zombie ja Kummitusjuna (1991)
36066                                    Zombieland (2009)
36069                           Zombies on Broadway (1945)
36072                                Zona Zamfirova (2002)
36073                                     Zonbi asu (2011)
36078                              Zong heng si hai (1991)
36081                                     Zookeeper (2011)
36098                           Ztraceni v Mnichove (2015)
36100                                    Zuckerbaby (1985)
36107                                      Zus & zo (2001)
Name: Title, Length: 4000, dtype: object

In [91]:
df3 = df[(df['Title'].isin(df2.Title) & df['Comedy'] == 1) | (df['Comedy'] == 0)]

In [82]:
df3.head(50)

,Title,Action,Comedy,Crime,Horror,Romance,Thriller,sample,Empty
1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,0,0,0,1
2,#Horror (2015),0,0,0,1,0,0,0,1
10,'71 (2014),1,0,0,0,0,1,0,2
11,'D' (2005),0,0,1,0,0,1,0,2
14,'G' Men (1935),0,0,1,0,0,0,0,1
17,'I Know Where I'm Going!' (1945),0,0,0,0,1,0,0,1
22,'Pimpernel' Smith (1941),0,0,0,0,0,1,0,1
23,'R Xmas (2001),0,0,1,0,0,0,0,1
25,"'Sheba, Baby' (1975)",1,0,1,0,0,0,0,2
31,(500) Days of Summer (2009),0,1,0,0,1,0,0,2
36,*batteries not included (1987),0,1,0,0,0,0,0,1
37,+1 (2013),0,0,0,0,0,1,0,1
40,...And God Created Woman (1956),0,0,0,0,1,0,0,1
41,...and justice for all. (1979),0,0,1,0,0,1,0,2
44,...ing (2003),0,0,0,0,1,0,0,1
45,...tick... tick... tick... (1970),1,0,0,0,0,0,0,1
46,.45 (2006),0,0,1,0,0,1,0,2
48,008: Operation Exterminate (1965),1,0,0,0,0,0,0,1
49,009 Re: Cyborg (2012),1,0,0,0,0,0,0,1
50,009-1: The End of the Beginning (2013),1,0,1,0,0,0,0,2
52,1 - Nenokkadine (2014),1,0,0,0,0,0,0,1
55,"1,000 Times More Brutal (2012)",1,0,1,0,0,0,0,2
56,1-900 (1994),0,0,0,0,1,0,0,1
60,10 Cent Pistol (2014),0,0,1,0,0,1,0,2
61,10 Cloverfield Lane (2016),0,0,0,1,0,0,0,1
66,10 Rillington Place (1971),0,0,1,0,0,0,0,1
67,10 Rules for Sleeping Around (2013),0,1,0,0,1,0,0,2
68,10 Things I Hate About You (1999),0,1,0,0,1,0,0,2
69,10 to Midnight (1983),0,0,1,0,0,1,0,2
70,10 Years (2011),0,1,0,0,1,0,0,2
72,"10,000 BC (2008)",1,0,0,0,0,0,0,1
77,10-eok (2009),0,0,0,0,0,1,0,1
78,10.0 Earthquake (2014),1,0,0,0,0,0,0,1
79,10.000 Km (2014),0,1,0,0,1,0,0,2
80,10.5,1,0,0,0,0,0,0,1
81,10.5: Apocalypse,0,0,0,0,0,1,0,1
82,100 Bloody Acres (2012),0,1,0,1,0,0,0,2
83,100 Days (1991),0,0,0,1,1,1,0,3
84,100 Degrees Below Zero (2013),1,0,0,0,0,0,0,1
85,100 Feet (2008),0,0,0,1,0,1,0,2
86,100 Ghost Street: The Return of Richard Speck ...,0,0,0,1,0,0,0,1
88,100 gramm dlya khrabrosti (1977),0,1,0,0,0,0,0,1
89,100 Million BC (2008),1,0,0,0,0,0,0,1
90,100 Rifles (1969),0,0,0,0,1,0,0,1
92,100 Years of Evil (2010),0,1,0,0,0,0,0,1
95,100% Love (2011),0,1,0,0,1,0,0,2
99,101 ci qiu hun (2013),0,0,0,0,1,0,0,1
100,101 Dalmatians (1961),0,1,0,0,0,0,0,1
102,102 Dalmatians (2000),0,1,0,0,0,0,0,1
104,1066: The Battle for Middle Earth,1,0,0,0,0,0,0,1

In [81]:
for i in df3.columns[1:]:
    print(i)
    print(df3[i].sum())

Action
4292
Comedy
4000
Crime
4150
Horror
3414
Romance
3995
Thriller
4341
sample
0
Empty
24192

In [83]:
len(df3.Title)

17444

In [92]:
df4 = df3.drop(df3.columns[-2:],axis= 1)

In [93]:
df4.head()

,Title,Action,Comedy,Crime,Horror,Romance,Thriller
1,#chicagoGirl: The Social Network Takes on a Di...,1,0,0,0,0,0
2,#Horror (2015),0,0,0,1,0,0
10,'71 (2014),1,0,0,0,0,1
11,'D' (2005),0,0,1,0,0,1
14,'G' Men (1935),0,0,1,0,0,0

In [94]:
df4.to_pickle('Top6.pkl')